* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: "roboto", sans-serif;
}
.fondo-gris{
  background-color: gray;
}
.nuevo-color{
    background-color: lightblue; 
}
/*ESTILOS PARA TITULO*/
h1{
  color: white;
  text-align: center;
  background-color: blue;
  padding: 2rem;
}
/*ESTILOS PARA BOTON*/
#contenedor{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
button{
  color: white;
  background-color: green;
  width: 300px;
  padding: 10px 20px;
  font-size: 20px; 
  border-radius: 20px;
  border: 2px solid white;
  margin: 10px auto;
}
#boton-color2{
  background-color: red;

}
